@using KestenTestApp.Models.Data;
@model VarietyListDetailsViewModel

<tr>
    <td>
        <a asp-controller="Variety"
           asp-action="Details"
           asp-route-id="@Model.VarietyId"
           class="text-decoration-none text-dark fw-bold">@Model.VarietyName</a>
    </td>
    <td>
        @Model.Species
    </td>
    <td>
        @Model.FruitSizes
    </td>
    <td>
        @Model.IsMarron
    </td>
    <td>
        @Model.ChestnutBlightResistance
    </td>
    <td>
        @Model.InkDiseaseResistance
    </td>
    <td>
        @Model.Peeling
    </td>
    <td>
        @Model.PollenFertility
    </td>
    <td>
        @Model.MaturityPeriod
    </td>
    <td>
        @Model.IsPollenizedBy
    </td>
    <td>
        @Model.IsPollenizerFor
    </td>
    <td>
        @Model.IsRootstockFor

    </td>
    <td>
        @Model.IsGraftedOn
    </td>
</tr>