@using KestenApp.Web.ViewModels.Varieties;
@model VarietySummaryModel

<tr>
    <th>
        <a asp-controller="Variety"
           asp-action="Details"
           asp-route-id="@Model.VarietyId"
           scope="row" class="text-decoration-none text-dark">@Model.VarietyName</a>
    </th>
    <td>
        @Model.Species
    </td>
    <td style="white-space:pre-line;" class="text-center">@Model.FruitSizes</td>
    <td class="text-center">
        @Model.IsMarron
    </td>
    <td class="text-center">
        @Model.ChestnutBlightResistance
    </td>
    <td class="text-center">
        @Model.InkDiseaseResistance
    </td>
    <td class="text-center">
        @Model.Peeling
    </td>
    <td class="text-center">
        @Model.PollenFertility
    </td>
    <td class="text-center">
        @Model.MaturityPeriod
    </td>
    <td style="white-space:pre-line;">@Model.IsPollenizedBy</td>
    <td style="white-space:pre-line;">@Model.IsPollenizerFor</td>
    <td style="white-space:pre-line;">@Model.IsRootstockFor</td>
    <td style="white-space:pre-line;">@Model.IsGraftedOn</td>
</tr>