@model VarietyDetailsModel

@{
    ViewData["Title"] = $"Variety: {Model.VarietyName}";
}

@*Header*@
<div class="row">

    <div class="col-10 col-xl-8 offset-xl-3">
        @*Variety Name*@
        <h2 class="fw-bold mb-2">
            Variety: @Model.VarietyName
        </h2>

        @*Buttons*@
        <a asp-controller="Variety"
           asp-action="Edit"
           asp-route-id="@Model.VarietyId"
           class="btn btn-outline-primary">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
            </svg>
            <span>Edit</span>
        </a>
        <a asp-controller="Variety"
           asp-action="Publish"
           asp-route-id="@Model.VarietyId"
           hidden="@Model.HidePublishButton"
           class="btn btn-outline-success">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
            </svg>
            <span>Publish</span>
        </a>
        <a asp-controller="Variety"
           asp-action="Unpublish"
           asp-route-id="@Model.VarietyId"
           hidden="@Model.HideUnpublishButton"
           class="btn btn-outline-warning">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash" viewBox="0 0 16 16">
                <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z" />
                <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z" />
                <path d="M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12-.708.708z" />
            </svg>
            <span>Unpublish</span>
        </a>
        <a asp-controller="Variety"
           asp-action="Archive"
           asp-route-id="@Model.VarietyId"
           hidden="@Model.HideArchiveButton"
           class="btn btn-outline-danger">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
            </svg>
            <span>Archive</span>
        </a>
        <a asp-controller="Variety"
           asp-action="Restore"
           asp-route-id="@Model.VarietyId"
           hidden="@Model.HideRestoreButton"
           class="btn btn-outline-secondary">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
            </svg>
            <span>Restore</span>
        </a>
    </div>

    <div class="col-2 col-lg-1">
        <div class="row no-gutters">
            <a asp-controller="Variety"
               asp-action="List"
               class="btn mr-1 btn-outline-secondary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"></path>
                </svg>
                <span>Back</span>
            </a>
        </div>

    </div>
</div>

@*Description and Image*@
<div class="row mt-1">

    <div class="col-12 col-lg-11 offset-lg-1">
        <div class="row mt-1">
            <partial name="_PropertyCard" model='@new KeyValuePair<string, string?>("Description", @Model.Description)' />
        </div>

        @*Photo*@
        <div class="row mt-1">
            <div class="col-4 col-lg-3 text-lg-end fw-bold mb-2">
                @*Image*@
            </div>

            <div class="col-8 col-lg-6 col-xl-5 mb-2">
                <img alt=""
                     class="img-fluid"
                     src=@Model.ThumbnailImagePath />
            </div>
        </div>
    </div>
</div>

@*Tree*@
@if (Model.SpeciesCheckboxes.Any(c => c.IsChecked) || Model.Tree.Any())
{
    <hr />

    <div class="row mt-1">
        <partial name="_SectionTitle" model='"Tree"' />

        <div class="col-xs-12 col-lg-11">

            @*Species*@
            @if (Model.SpeciesCheckboxes.Any())            
            {
                <div class="row mt-1">
                    <div class="col-3 col-lg-3 text-lg-end fw-bold mb-2">
                        Species
                    </div>

                    <div class="col-xs-12 col-sm-11 col-md-9 col-lg-7 col-xl-6 mb-2">
                        <div class="row">
                            @for (int index = 0; index < Model.SpeciesCheckboxes.Count(); index++)
                            {
                                <div class="col-3">
                                    <input type="checkbox"
                               asp-for="@Model.SpeciesCheckboxes[index].IsChecked"
                                           class="form-check-input"
                                           style="pointer-events:none" />

                                    <label class="form-check-label">
                                        @Model.SpeciesCheckboxes[index].LabelName
                                    </label>

                                    <input type="hidden" asp-for="@Model.SpeciesCheckboxes[index].Id" />
                                    <input type="hidden" asp-for="@Model.SpeciesCheckboxes[index].LabelName" />
                                    <br />
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }

            <div class="row mt-1">
                @foreach (KeyValuePair<string, string> kvp in Model.Tree)
                {
                    <partial name="_PropertyCard" model='@new KeyValuePair<string, string?>(kvp.Key, kvp.Value)' />
                }
            </div>
        </div>
    </div>
}

@*Fruit*@
@if (Model.Fruit.Any())
{
    <hr />
    <div class="row mt-1">
        <partial name="_SectionTitle" model='"Fruit"' />

        <div class="col-xs-12 col-lg-11">
            <div class="row mt-1">
                @foreach (KeyValuePair<string, string> kvp in Model.Fruit)
                {
                    <partial name="_PropertyCard" model='@new KeyValuePair<string, string?>(kvp.Key, kvp.Value)' />
                }
            </div>
        </div>
    </div>
}