@using KestenApp.Data.Enums;
@using KestenApp.Web.Models.Varieties;
@model VarietyFormModel
@Html.AntiForgeryToken()

@*Photo and Description*@
<form asp-action="@Model.AspAction" method="post">
    @*Header*@
    <div class="row">
        <div class="col-11">
            <div class="row">
                <h2 class="text-start">@Model.PageTitle</h2>
            </div>

            @*Summary*@
            <div class="row">
                <div class="col-7">
                    <div class="row">
                        <div class="col-3">
                            <label asp-for="@Model.VarietyName" class="form-label fw-bold">Variety Name</label>
                        </div>
                        <div class="col-9">
                            <input asp-for="@Model.VarietyName" class="form-control" aria-required="true" />
                            <small>
                                <span asp-validation-for="@Model.VarietyName" class="text-danger" />
                            </small>
                        </div>

                        <div class="col-3 mt-3">
                            <label asp-for="@Model.Description" class="form-label fw-bold">Description</label>
                        </div>
                        <div class="col-9 mt-3">
                            <textarea asp-for="@Model.Description" class="form-control" rows="8" aria-required="true">
                            </textarea>
                            <small>
                                <span asp-validation-for="@Model.Description" class="text-danger" />
                            </small>
                        </div>
                    </div>
                </div>

                <div class="col-5">
                    <div class="col-10 offset-1">
                        <img alt=""
                             class="img-fluid"
                             src=@Model.ThumbnailImagePath />
                    </div>
                </div>
            </div>
        </div>

        @*Buttons*@
        <div class="col-1 container">
            <div class="row no-gutters">
                <a asp-controller="Variety"
                   asp-action="@Model.AspActionRedirect"
                   asp-route-id="@Model.VarietyId"
                   class="btn btn-outline-secondary mb-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"></path>
                    </svg>
                    <span>Back</span>
                </a>

                <button asp-controller="Variety"
                        asp-action="@Model.AspAction"
                        asp-route-id="@Model.VarietyId"
                        class="btn btn-outline-success">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                        <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                    </svg>
                    <span>@Model.SubmitButtonText</span>
                </button>
            </div>
        </div>
    </div>

    <hr />

    @*Tree*@
    <div class="row mt-1">
        <div class="col-1">
            <h3 class="mt-1">
                Tree
            </h3>
        </div>

        <div class="col-11">

            @*Species*@
            <div class="row mt-1">
                <div class="col-3 text-end">
                    <label class="form-label fw-bold">Species</label>
                </div>
                <div class="col-5 mb-2">
                    <div class="row">
                        @for (int index = 0; index < Model.SpeciesCheckboxes.Count; index++)
                        {
                            <div class="col-3">
                                <input type="checkbox"
                                   asp-for="@Model.SpeciesCheckboxes[index].IsChecked"
                                       class="form-check-input" />

                                <label class="form-check-label">
                                    @Model.SpeciesCheckboxes[index].LabelName
                                </label>

                                <input type="hidden" asp-for="@Model.SpeciesCheckboxes[index].Id" />
                                <input type="hidden" asp-for="@Model.SpeciesCheckboxes[index].LabelName" />
                                <br />
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-3 text-end">
                    <label asp-for="@Model.PollenType" class="form-label fw-bold">Pollen</label>
                </div>
                <div class="col-5">
                    <select asp-for="@Model.PollenType" class="form-control">
                        @foreach (SelectListItem pollenType in Model.PollenOptions)
                        {
                            <option selected="@pollenType.Selected"
                                value="@(pollenType.Value)">@pollenType.Text</option>
                        }
                    </select>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    }
