@using KestenApp.Web.ViewModels.Garden;

@model GardenSummaryModel

<tr>
    <th>
        <a asp-controller="Garden"
           asp-action="Details"
           asp-route-id="@Model.Garden.GardenId"
           class="text-decoration-none text-dark">@Model.Garden.Name</a>
    </th>
    <td class="text-center">
        @Model.Specimens.Where(s => s.Variety != null).GroupBy(s => s.Variety?.Name).Count()
    </td>
    <td class="text-center">
        @Model.Specimens.Count()
    </td>
    <td class="text-center">
        @if (Model.User != null)
        {
            <a asp-controller="Gardener"
           asp-action="Details"
           asp-route-id="@Model.User.Id"
               class="text-decoration-none text-dark">@Model.User.DisplayName</a>
        }
    </td>
</tr>