@using KestenApp.Web.ViewModels.Garden;
@using KestenApp.Web.ViewModels.Specimen;
@model ArchiveSpecimensModel

@{
    ViewData["Title"] = "Confirm decrease";
}

<form method="post">
    @*asp-action="@Model.FormTexts.SubmitAction" *@

    @*Header*@
    <div class="row">

        <div class="col-11">
            @*Title*@
            <h2 class="fw-bold mb-2">
                Garden Size Decrease Confirmation
            </h2>
        </div>

        <div class="col-2 col-lg-1">
            <div class="row no-gutters">
                <a asp-controller="Garden"
                   asp-action="Details"
                   asp-route-id="@Model."
                   class="btn mr-1 btn-outline-secondary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"></path>
                    </svg>
                    <span>Back</span>
                </a>
            </div>
        </div>

        <hr />
        <div class="alert alert-danger" role="alert">
            The new garden rows and columns counts exclude the positions of existing specimen.<br /><br />
            Please confirm that the following <strong>@Model.Specimens.Count() specimens will be archieved</strong>.
        </div>

        <hr class="pb-0 mb-0" />
        <table class="table">
            <thead>
                <tr class="table-light">
                    @foreach (string title in Model.HeaderTitles)
                    {
                        <th class="th-sm align-top text-center">
                            @title
                        </th>
                    }
                <tr>
            </thead>

            <tbody>
                @foreach (SpecimenSummaryModel specimen in Model.Specimens)
                {
                    <partial name="_SpecimenSummary"
                         model="specimen" />

                    <div class="form-check">
                        <input type="hidden" class="form-check-input" asp-for="@Model.IdsToArchive" value="@specimen.SpecimenId" />
                    </div>
                }
            </tbody>
        </table>
    </div>

    <hr />

    <div class="row">
        <button asp-controller="Garden"
                asp-action="ArchiveSpecimens"
                asp-route-id="@Model.GardenId"
                class="btn btn-outline-danger col-2 col-xl-1 offset-10 offset-xl-11">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"></path>
            </svg>
            <span>Archive</span>
        </button>
    </div>
</form>