@using KestenApp.Web.ViewModels.Specimen;
@model DetailsFormModel

@{
    if (Model.SpecimenId == null || Model.SpecimenId == Guid.Empty)
    {
        ViewData["Title"] = $"Create Specimen: Step 3 - Details";
    }
    else
    {
        ViewData["Title"] = Model.FormTexts.PageTitle;
    }
}

<form asp-action="DetailsForm" method="post">
    @Html.AntiForgeryToken()

    @*Header*@
    <div class="row">

        <div class="col-10 offset-xl-1">
            @*Specimen Name*@
            @if (Model.SpecimenId == null || Model.SpecimenId == Guid.Empty)
            {
                <h2 class="fw-bold mb-2">
                    Create Specimen: Step 3 - Details
                </h2>
            }
            else
            {
                <h2 class="fw-bold mb-2">
                    @Model.FormTexts.PageTitle
                </h2>
            }

        </div>

        <div class="col-2 col-lg-1">
            <div class="row no-gutters">
                <a asp-controller="Specimen"
                   asp-action="@Model.FormTexts.BackToAction"
                   asp-route-id="@Model.SpecimenId"
                   class="btn mr-1 btn-outline-secondary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"></path>
                    </svg>
                    <span>Back</span>
                </a>
            </div>
        </div>
    </div>

    @*Garden*@
    <hr />

    <div class="row mb-2">
        <partial name="_SectionTitle" model='"Location"' />

        <div class="col-3 col-lg-2 text-lg-end fw-bold mt-auto">
            <label class="form-label fw-bold">Garden</label>
        </div>

        <div class="col-4 mb-2 mt-auto">
            @Model.Garden.GardenName
            <input type="hidden" asp-for="@Model.GardenId" value="@Model.GardenId" />
        </div>

        <div class="col-5"></div>
    </div>

    @*Location*@
    <div class="col-xs-12 col-lg-10 offset-lg-2">

        @*Errors*@
        <span asp-validation-for="@Model.Garden.Position" class="text-danger" />
        <input type="hidden" asp-for="@Model.Row" value="@Model.Row" />
        <input type="hidden" asp-for="@Model.Column" value="@Model.Column" />
        <div asp-validation-summary="All" class="text-danger">
        </div>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="bg-light p-1">
                        <p class="mb-0 d-flex justify-content-end">
                            Column
                        </p>
                        <p class="mb-0">
                            Row
                        </p>
                    </th>
                    @for (int col = 1; col <= Model.Garden.TotalColumns; col++)
                    {
                        <th scope="col" class="text-center align-top bg-light">@col</th>
                    }
                </tr>
            </thead>
            <tbody>
                @for (int row = 1; row <= Model.Garden.TotalRows; row++)
                {
                    <tr>
                        <th scope="row" class="col-1 bg-light">
                            @row
                        </th>

                        @for (int col = 1; col <= Model.Garden.TotalColumns; col++)
                        {
                            @if (Model.Garden.Specimens[row - 1, col - 1] != null)
                            {
                                <td class="col-1 align-middle text-center p-0 @Model.Garden.Specimens[row - 1,col - 1].BackgroundColor">
                                    <div class="fw-bold">
                                        @Model.Garden.Specimens[row - 1,col - 1].Name
                                    </div>
                                    <div class="">
                                        @Model.Garden.Specimens[row - 1,col - 1].Year
                                    </div>
                                </td>
                            }
                            else
                            {
                                @if ((Model.Row == row && Model.Column == col) && (Model.SpecimenId == null || Model.SpecimenId == Guid.Empty))
                                {
                                    <td class="col-1 text-center bg-success bg-opacity-75">
                                        <div class="d-flex justify-content-center">
                                            <p class="mt-3 mb-3 text-white fw-bold">
                                                NEW
                                            </p>
                                        </div>
                                    </td>
                                }
                                else
                                {
                                    <td class="col-1 text-center">
                                        <div class="d-flex justify-content-center">
                                            <span class="mt-3 mb-3">
                                                -
                                            </span>
                                        </div>
                                    </td>
                                }
                            }
                        }
                    </tr>
                }
            </tbody>
        </table>

    </div>

    <hr />

    @*Name*@
    <div class="row">
        <partial name="_SectionTitle" model='"Details"' />

        <div class="col-2 text-lg-end fw-bold mb-2 mt-auto">
            <label asp-for="@Model.SpecimenName" class="form-label fw-bold">Name</label>
        </div>
        <div class="col-9 col-lg-3 mb-2">
            <input asp-for="@Model.SpecimenName" class="form-control" aria-required="true" />
            <small>
                <span asp-validation-for="@Model.SpecimenName" class="text-danger" />
            </small>
        </div>
    </div>

    @*Variety*@
    <div class="row">

        <div class="col-3 text-lg-end fw-bold mb-2 mt-auto">
            <label asp-for="@Model.VarietyId" class="form-label fw-bold">Variety</label>
        </div>

        <div class="col-9 col-lg-3 mb-2">
            <small>
                <span asp-validation-for="@Model.VarietyId" class="text-danger" />
            </small>
            <select asp-for="@Model.VarietyId" class="form-select" aria-required="true">
                @foreach (SelectListItem variety in Model.VarietyOptions)
                {
                    <option value="@variety.Value">@variety.Text</option>
                }
            </select>
        </div>
    </div>

    @*Elevation*@
    <div class="row">
        <div class="col-3 text-lg-end fw-bold mb-2 mt-auto">
            <label asp-for="@Model.Elevation" class="form-label fw-bold">Elevation</label>
        </div>
        <div class="col-9 col-lg-3 mb-2">
            <input asp-for="@Model.Elevation" class="form-control" aria-required="true" />
            <small>
                <span asp-validation-for="@Model.Elevation" class="text-danger" />
            </small>
        </div>
    </div>

    @*Dates*@
    <div class="row">
        <div class="col-3 text-lg-end fw-bold mb-2 mt-auto">
            <label asp-for="@Model.PlantedOnDate" class="form-label fw-bold">Planted On</label>
        </div>
        <div class="col-9 col-lg-3 mb-2">
            <input type="date" asp-for="@Model.PlantedOnDate" value="@(Model.PlantedOnDate != null ? Model.PlantedOnDate.Value.ToString("yyyy-MM-dd") : null)" max="@DateTime.Now.ToString("yyyy-MM-dd")" />
            <small>
                <span asp-validation-for="@Model.PlantedOnDate" class="text-danger" />
            </small>
        </div>
    </div>

    <div class="row">
        <div class="col-3 text-lg-end fw-bold mb-2 mt-auto">
            <label asp-for="@Model.SowedOnDate" class="form-label fw-bold">Sowed On</label>
        </div>
        <div class="col-9 col-lg-3 mb-2">
            <input type="date" asp-for="@Model.SowedOnDate" value="@(Model.SowedOnDate != null ? Model.SowedOnDate.Value.ToString("yyyy-MM-dd") : null)" max="@DateTime.Now.ToString("yyyy-MM-dd")" />
            <small>
                <span asp-validation-for="@Model.SowedOnDate" class="text-danger" />
            </small>
        </div>
    </div>

    <div class="row">
        <div class="col-3 text-lg-end fw-bold mb-2 mt-auto">
            <label asp-for="@Model.GraftedOnDate" class="form-label fw-bold">Grafted On</label>
        </div>
        <div class="col-9 col-lg-3 mb-2">
            <input type="date" asp-for="@Model.GraftedOnDate" value="@(Model.GraftedOnDate != null ? Model.GraftedOnDate.Value.ToString("yyyy-MM-dd") : null)" max="@DateTime.Now.ToString("yyyy-MM-dd")" />
            <small>
                <span asp-validation-for="@Model.GraftedOnDate" class="text-danger" />
            </small>
        </div>
    </div>


    <hr />

    <div class="row">
        <button asp-controller="Specimen"
                asp-action="@Model.FormTexts.SubmitAction"
                asp-route-id="@Model.SpecimenId"
                class="btn btn-outline-success col-2 col-xl-1 offset-10 offset-xl-11">
            <span>@Model.FormTexts.SubmitButtonValue</span>
        </button>
    </div>

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    }