@using KestenApp.Data.Enums;
@using KestenApp.Web.ViewModels.Specimen;
@model SpecimenFormModel

@{
    ViewData["Title"] = Model.FormTexts.PageTitle;
}

<form asp-action="@Model.FormTexts.SubmitAction" method="post">
    @Html.AntiForgeryToken()

    @*Header*@
    <div class="row">

        <div class="col-10 offset-xl-1">
            @*Specimen Name*@
            <h2 class="fw-bold mb-2">
                @Model.FormTexts.PageTitle
            </h2>
        </div>

        <div class="col-2 col-lg-1">
            <div class="row no-gutters">
                <a asp-controller="Specimen"
                   asp-action="@Model.FormTexts.BackToAction"
                   asp-route-id="@Model.SpecimenId"
                   class="btn mr-1 btn-outline-secondary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"></path>
                    </svg>
                    <span>Back</span>
                </a>
            </div>
        </div>
    </div>

    @*Errors*@
    <div class="row">
        <div class="offset-xl-3">
            <div asp-validation-summary="All" class="text-danger">
            </div>
        </div>
    </div>

    @*Garden*@
    <hr />

    <div class="row mb-2">
        <partial name="_SectionTitle" model='"Location"' />

        <div class="col-3 col-lg-2 text-lg-end fw-bold mt-auto">
            <label asp-for="@Model.GardenId" class="form-label fw-bold">Garden</label>
        </div>

        @if (Model.SelectedGarden != null)
        {
            <div class="col-4 mb-2 mt-auto">
                @Model.SelectedGarden.Name @Model.SelectedGarden.GardenId
            </div>
            <div class="col-5"></div>
            <div class="col-3"></div>
        }

        @*Disable garden change if there are no other user gardens*@
        @if (Model.GardenOptions.Any())
        {
            <div class="col-4 col-lg-3">
                <div>
                    <select asp-for="@Model.GardenId" class="form-select">
                        @foreach (SelectListItem garden in Model.GardenOptions)
                        {
                            <option selected="@garden.Selected" value="@garden.Value">@garden.Text</option>
                        }
                    </select>
                </div>

                <span asp-validation-for="@Model.GardenId" class="text-danger" />
            </div>

            <div class="col-2 col-lg-1">
                <button asp-controller="Specimen"
                    asp-action="MapSelectedGarden"
                        formnovalidate
                        class="btn btn-outline-success">
                    <span>Select</span>
                </button>
            </div>
        }
    </div>

    @if (Model.SelectedGarden != null)
    {
        @*Row*@
        <div class="row">
            <div class="col-9 offset-3">
                <small>
                    <span asp-validation-for="@Model.Row" class="text-danger" />
                </small>
            </div>
            <div class="col-3 text-lg-end fw-bold mb-2 mt-auto">
                <label asp-for="@Model.Row" class="form-label fw-bold">Row</label>
            </div>
            <div class="col-2 col-xl-1 mb-2">
                <input asp-for="@Model.Row" class="form-control" aria-required="true" />
            </div>
        </div>

        @*Col*@
        <div class="row">
            <div class="col-9 offset-3">
                <small>
                    <span asp-validation-for="@Model.Column" class="text-danger" />
                </small>
            </div>
            <div class="col-3 text-lg-end fw-bold mb-2 mt-auto">
                <label asp-for="@Model.Column" class="form-label fw-bold">Column</label>
            </div>
            <div class="col-2 col-xl-1 mb-2">
                <input asp-for="@Model.Column" class="form-control" aria-required="true" />
            </div>
        </div>

        <hr />

        @*Name*@
        <div class="row">
            <partial name="_SectionTitle" model='"Details"' />

            <div class="col-2 text-lg-end fw-bold mb-2 mt-auto">
                <label asp-for="@Model.SpecimenName" class="form-label fw-bold">Specimen Name</label>
            </div>
            <div class="col-9 col-lg-3 mb-2">
                <input asp-for="@Model.SpecimenName" class="form-control" aria-required="true" />
                <small>
                    <span asp-validation-for="@Model.SpecimenName" class="text-danger" />
                </small>
            </div>
        </div>

        @*Variety*@
        <div class="row">

            <div class="col-3 text-lg-end fw-bold mb-2 mt-auto">
                <label asp-for="@Model.VarietyId" class="form-label fw-bold">Variety</label>
            </div>

            <div class="col-9 col-lg-3 mb-2">
                @*<input type="text" list="ddlmedCompany" id="varietyList"
            class="form-control form-control-lg" placeholder="Type to search..." />
            <datalist id="ddlmedCompany">
            @foreach (var item in Model.VarietyOptions)
            {
            <option id="@item.Value">@item.Text</option>
            }
            </datalist>*@

                <select asp-for="@Model.VarietyId" class="form-select">
                    @foreach (SelectListItem variety in Model.VarietyOptions)
                    {
                        <option selected="@variety.Selected" value="@variety.Value">@variety.Text</option>
                    }
                </select>

                <span asp-validation-for="@Model.VarietyId" class="text-danger" />
            </div>
        </div>

        @*Elevation*@
        <div class="row">
            <div class="col-3 text-lg-end fw-bold mb-2 mt-auto">
                <label asp-for="@Model.Elevation" class="form-label fw-bold">Elevation</label>
            </div>
            <div class="col-9 col-lg-3 mb-2">
                <input asp-for="@Model.Elevation" class="form-control" aria-required="true" />
                <small>
                    <span asp-validation-for="@Model.Elevation" class="text-danger" />
                </small>
            </div>
        </div>

        <div class="row">
            <button asp-controller="Specimen"
                asp-action="@Model.FormTexts.SubmitAction"
                asp-route-id="@Model.SpecimenId"
                    class="btn btn-outline-success col-2 col-xl-1 offset-10 offset-xl-11">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                </svg>
                <span>@Model.FormTexts.SubmitButtonValue</span>
            </button>
        </div>
    }










</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    }
