@using KestenApp.Web.ViewModels.Specimen;
@model SpecimenGardenSelectModel

@{
    ViewData["Title"] = $"Create Specimen: Garden Selection";
}

<form asp-action="AddPosition" method="post">

    @*Header*@
    <div class="row">

        <div class="col-10 offset-xl-1">
            @*Specimen Name*@
            <h2 class="fw-bold mb-2">
                Create Specimen: Garden Selection
            </h2>
        </div>

        <div class="col-2 col-lg-1">
            <div class="row no-gutters">
                <a asp-controller="Specimen"
                   asp-action="List"
                   class="btn mr-1 btn-outline-secondary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"></path>
                    </svg>
                    <span>Back</span>
                </a>
            </div>
        </div>
    </div>

    @*Garden*@
    <hr />

    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger offset-3">
        </div>
    </div>

    <div class="row mb-2">

        <partial name="_SectionTitle" model='"Location"' />

        <div class="col-3 col-lg-2 text-lg-end fw-bold mt-auto mb-1">
            <label asp-for="@Model.GardenId" class="form-label fw-bold">Garden</label>
        </div>

        <div class="col-4 col-lg-3">
            <span asp-validation-for="@Model.GardenId" class="text-danger"> </span>

            <div>
                <select asp-for="@Model.GardenId" class="form-select" required aria-required="true">
                    @foreach (SelectListItem garden in Model.Gardens)
                    {
                        <option value="@garden.Value">@garden.Text</option>
                    }
                </select>
            </div>
        </div>

        <div class="col-2 col-lg-1">
            <button asp-controller="Specimen"
                    asp-action="AddPosition"
                    class="btn btn-outline-success">
                <span>Select</span>
            </button>
        </div>

    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    }