@using KestenApp.Web.ViewModels.Garden;
@model GardenDetailsModel

@{
    ViewData["Title"] = $"Create Specimen: Step 2 - Position Selection";
}

<form asp-action="AddPosition" method="post">
    @Html.AntiForgeryToken()

    @*Header*@
    <div class="row">

        <div class="col-10 offset-xl-1">
            @*Specimen Name*@
            <h2 class="fw-bold mb-2">
                Create Specimen: Step 2 - Position Selection
            </h2>
        </div>

        <div class="col-2 col-lg-1">
            <div class="row no-gutters">
                <a asp-controller="Specimen"
                   asp-action="List"
                   class="btn mr-1 btn-outline-secondary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"></path>
                    </svg>
                    <span>Back</span>
                </a>
            </div>
        </div>
    </div>

    @*Garden*@
    <hr />

    <div class="row mb-2">
        <partial name="_SectionTitle" model='"Location"' />

        <div class="col-3 col-lg-2 text-lg-end fw-bold mt-auto">
            <label class="form-label fw-bold">Garden</label>
        </div>

        <div class="col-4 mb-2 mt-auto">
            @Model.GardenName
        </div>

        <div class="col-5"></div>
    </div>

    @*Location*@
    <div class="col-xs-12 col-lg-10 offset-lg-2">

        @*Errors*@
        <span asp-validation-for="@Model.Position" class="text-danger" />
        <div asp-validation-summary="All" class="text-danger">
        </div>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="bg-light p-1">
                        <p class="mb-0 d-flex justify-content-end">
                            Column
                        </p>
                        <p class="mb-0">
                            Row
                        </p>
                    </th>
                    @for (int col = 1; col <= Model.TotalColumns; col++)
                    {
                        <th scope="col" class="text-center align-top bg-light">@col</th>
                    }
                </tr>
            </thead>
            <tbody>
                @for (int row = 1; row <= Model.TotalRows; row++)
                {
                    <tr>
                        <th scope="row" class="col-1 bg-light">
                            @row
                        </th>

                        @for (int col = 1; col <= Model.TotalColumns; col++)
                        {
                            @if (Model.Specimens[row - 1, col - 1] != null)
                            {
                                <td class="col-1 text-center @Model.Specimens[row - 1,col - 1].BackgroundColor">
                                    @Model.Specimens[row - 1,col - 1].Name
                                    <small>@Model.Specimens[row - 1,col - 1].Year</small>
                                </td>
                            }
                            else
                            {
                                <td class="col-1 text-center">
                                    <div class="form-check d-flex justify-content-center">
                                        <input required class="form-check-input mt-3 mb-3" name="position" type="radio" aria-required="true" value="@($"{row},{col}")">
                                    </div>
                                </td>
                            }
                        }
                    </tr>
                }
            </tbody>
        </table>

    </div>

    <hr />

    <div class="row">
        <button asp-controller="Specimen"
                asp-action="DetailsForm"
                asp-route-gardenId="@Model.GardenId"
                class="btn btn-outline-success col-2 col-xl-1 offset-10 offset-xl-11">
            <span>Select</span>
        </button>
    </div>

    

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    }